Makefile
build
/apps/replace_file_target.sh
/mission_sample_defs
/mission_nomad_defs
/tools/gen_app_template
.DS_Store
.vscode
.legacy/
kanpilot.toml
-cppcheck-build-dir

# Recover later
/apps/ci/
/apps/edp/
/apps/gnc/
/apps/morch/
/apps/mplan/
/apps/ppt/
/apps/sbn/
/apps/tkm/
/apps/to/
/libs/eqt_lib/
/libs/gnc_lib/
/libs/io_lib/
/libs/math_lib/
/tools/ECI/
